.topbar {
    padding: 0 .5rem;
}

.topbar input {
    height: 1.8rem;
    flex: 1;
}

.topbar button {
    width: 2rem;
    border: none;
    background: transparent;
}

.menubar a {
    width: 30%;
    margin-left: 2%;
}

.menubar .action-wrap .action {
    flex: 1;
}



.good-group li {
    padding: .5rem;
}

.good-group .good-item {
    display: block;
    position: relative;
    width: 100%;
    height: 6rem;
    border-bottom: solid 1px #eee;
    padding: 0 .2rem .2rem .2rem;
    font-size: .8em;
}

.good-group .good-item img {
    display: block;
    float: left;
    width: 6rem;
    left: 0;
    top: 0;
}

.good-group .good-item .good-info {
    width: auto;
    height: 100%;
    margin-left: 6rem;
}

.good-group .good-item .good-info .title {
    display: block;
    position: absolute;
    top: 0;
}

.good-group .good-item .good-info .activity {
    display: block;
    position: absolute;
    bottom: 1.5rem;
    height: 1.5rem;
}

.good-group .good-item .good-info .showprice {
    display: block;
    position: absolute;
    bottom: 0;
    height: 1.5rem
}
