* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

.good-group h1 {
    background: #eee;
    padding: .5rem;
}

.good-group li {
    padding: .5rem;
}

.good-group .good-item {
    display: block;
    position: relative;
    width: 100%;
    height: 6rem;
    border-bottom: solid 1px #eee;
    padding: 0 .2rem .2rem .2rem;
    font-size: .8em;
}

.good-group .good-item {}

.good-group .good-item img {
    display: block;
    float: left;
    width: 6rem;
    left: 0;
    top: 0;
}

.good-group .good-item .good-info {
    width: auto;
    height: 100%;
    margin-left: 6rem;
}

.good-group .good-item .good-info .title {
    display: block;
    position: absolute;
    top: 0;
}

.good-group .good-item .good-info .activity {
    display: block;
    position: absolute;
    bottom: 1.5rem;
    height: 1.5rem;
}

.good-group .good-item .good-info .showprice {
    display: block;
    position: absolute;
    bottom: 0;
    height: 1.5rem
}

#good-list {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 3rem;
    overflow-y: auto;
}

.menubar {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}

.menubar a {
    display: block;
    float: left;
    width: 30%;
    height: 100%;
    line-height: 1rem;
    margin-left: 2%;
    font-size: .8rem;
}

.menubar a span {
    display: block;
    height: 1rem;
}

.menubar a span.iconfont {
    font-size: 1.5rem;
    margin-top: .5rem;
}

.menubar a.active {
    color: red;
}
