@charset "utf-8";
/* CSS Document */
body{ margin:0 auto; padding:0 auto; font-family:"Microsoft YaHei"; background-image:url(/images/CheckIn/bj.png); background-repeat:repeat-x;}
ul,li{list-style: none; padding:0 0px; margin:0 0px;}
.bj{width:906px; height:640px;margin:0 auto;}
.main{margin:0 auto; width:859px; padding-top:80px;}
.m_t{ width:100%; float:left; background-image:url(/images/CheckIn/m_t.png); height:81px;}
.m_b{ width:100%; float:left; background-image:url(/images/CheckIn/m_b.png); height:311px;}
.m_c{ width:100%; float:left; background-image:url(/images/CheckIn/m_c.png); height:311px;}
.m_d{ width:100%; float:left; background-image:url(/images/CheckIn/m_d.png); height:24px;}
.ts_b{ width:122px; height:143px; background-image:url(/images/CheckIn/ts.png); margin-left:190px; margin-top:60px;float:left;}
.ts_z{ width:300px; font-size:22px;color:#ffd236; float:left;margin-left:30px; margin-top:80px;}
.fp{ width:835px; float:left; margin-top:15px; margin-left:9px;}
.fp ul{float:left;}
.fp ul li{float:left;width:99px; padding-left:18px;}
.zi{text-align:center; width:100%; float:left; color:#ffd236; line-height:40px; font-size:20px;}
.tj{ width:100%; float:left; margin-top:20px; }
.textput{ width:186px; height:74px; background-image:url(/images/CheckIn/button.png); border:0px; cursor:pointer; margin-left:339px; float:left;}
.textput1{ width:186px; height:74px; background-image:url(/images/CheckIn/button1.png); border:0px;margin-left:339px; float:left;}
.ts{float:left; width:260px; color:#ffcc41; font-size:18px; margin-left:30px; padding-top:13px;}
.txtp2{width:99px; height:140px; background-image:url(/images/CheckIn/2day.png);border:0px; cursor:pointer; float:left;}
.txtp1{width:99px; height:140px; background-image:url(/images/CheckIn/1day.png);border:0px; cursor:pointer;float:left;}
.txtp3{width:99px; height:140px; background-image:url(/images/CheckIn/3day.png);border:0px; cursor:pointer;float:left;}
.txtp4{width:99px; height:140px; background-image:url(/images/CheckIn/4day.png);border:0px; cursor:pointer;float:left;}
.txtp5{width:99px; height:140px; background-image:url(/images/CheckIn/5day.png);border:0px; cursor:pointer;float:left;}
.txtp6{width:99px; height:140px; background-image:url(/images/CheckIn/6day.png);border:0px; cursor:pointer;float:left;}
.txtp7{width:99px; height:140px; background-image:url(/images/CheckIn/7day.png);border:0px; cursor:pointer;float:left;}
.txtjb{width:99px; height:140px; background-image:url(/images/CheckIn/jb.png);border:0px; cursor:pointer;float:left;}

.ttp2{width:99px; height:140px; background-image:url(/images/CheckIn/2nday.png);border:0px; cursor:pointer; float:left;}
.ttp1{width:99px; height:140px; background-image:url(/images/CheckIn/1nday.png);border:0px; cursor:pointer;float:left;}
.ttp3{width:99px; height:140px; background-image:url(/images/CheckIn/3nday.png);border:0px; cursor:pointer;float:left;}
.ttp4{width:99px; height:140px; background-image:url(/images/CheckIn/4nday.png);border:0px; cursor:pointer;float:left;}
.ttp5{width:99px; height:140px; background-image:url(/images/CheckIn/5nday.png);border:0px; cursor:pointer;float:left;}
.ttp6{width:99px; height:140px; background-image:url(/images/CheckIn/6nday.png);border:0px; cursor:pointer;float:left;}
.ttp7{width:99px; height:140px; background-image:url(/images/CheckIn/7nday.png);border:0px; cursor:pointer;float:left;}