.vmodel.info{position:absolute;width:100%;height:100%;}

.vmodel.info .page-list .list{position:absolute;top:0;bottom:0;width:18em;border:solid 1px #9cf;overflow:hidden;}
.vmodel.info .page-list .list h3{background:#9cf;padding:.5em 0;color:#555;}

.vmodel.info .page-list .tab{position:absolute;top:0;bottom:0;left:18.5em;right:0;border:solid 1px #9cf;}
.vmodel.info .page-list .tab .tab-header{position:relative;}
.vmodel.info .page-list .tab .tab-header li:hover{background:#fff;cursor:pointer;}
.vmodel.info .page-list .tab .tab-header li.active{background:#fff;border-bottom:solid 2px #fff;}
.vmodel.info .page-list .tab .tab-content{position:absolute;left:0;right:.1em;top:2em;bottom:0;}
.vmodel.info .page-list .tab .tab-content .row{margin:2em 0;}
.vmodel.info .page-list .tab .tab-content .row .col{}
.vmodel.info .page-list .tab .tab-content .row .value{height:1.4em;color:#36f;font-size:1.2em;vertical-align:middle;}
.vmodel.info .value{height:1.4em;color:#36f;font-size:1.1em;vertical-align:middle;}
.vmodel.info label{vertical-align:middle;}
.vmodel.info .page-list .tab .tab-content .panel.search .row{margin:1em 0;}

.vmodel.info .tabpage{display:none;position:relative;width:100%;height:100%;}
.vmodel.info .tabpage.active{display:block;}

.vmodel.info .iconfont.hidden{visibility:hidden;}
.vmodel.info .iconfont.icon-ren{font-size:50%;}

.vmodel.info .tabpage.basic .bar{padding:1em;}
.vmodel.info .tabpage.basic .bar button{border:solid 1px #bbb;padding:1em;background:#39e;color:#eee;}
.vmodel.info .tabpage.basic .bar button:hover{background:#3ae;color:#fff;}
 
 /***** begin *****/
 /*弹出窗口 - 报表*/
.vmodel.info .tabpage.dialog{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;width:96%;height:96%;background:#fff;border:solid 3px #6cf;}
.vmodel.info .tabpage.dialog .left{position:absolute;left:0;width:8em;top:1.7em;bottom:0;border:solid 1px #9cf;background:#cef;}
.vmodel.info .tabpage.dialog .right{position:absolute;left:8.1em;right:0;top:1.7em;bottom:0;}

.vmodel.info .tabpage.dialog .left .report-list li{padding:.3em;border:solid 1px #bbb;margin:.2em -1px .2em .2em}
.vmodel.info .tabpage.dialog .left .report-list li a{display:inline-block;*display:inline;*zoom:1;width:7em;height:1.8em;line-height:1.8em;cursor:pointer;text-align:center;}
.vmodel.info .tabpage.dialog .left .report-list li.active{background:#fff;border-right:#fff;}
.vmodel.info .tabpage.dialog .left .report-list li.active a{color:#37e;}

 /*关闭按钮*/
.vmodel.info .tabpage.dialog .controlbox{position:relative;padding:.3em;background:#6cf;}
.vmodel.info .tabpage.dialog .controlbox span{color:#fff;}
.vmodel.info .tabpage.dialog .controlbox a{color:#eee;}
.vmodel.info .tabpage.dialog .controlbox .btn-close{position:absolute;right:0;width:2em;text-decoration:none;text-align:center;}
.vmodel.info .tabpage.dialog .controlbox .btn-close:hover{color:#eaa}
.vmodel.info .tabpage.dialog .controlbox .dialog-title{font-size:1.1em;font-weight:bold;}
 /***** end *****/
.vmodel.info .tabpage.dialog .right .panel.search .row{margin:.8em 0;}
.vmodel.info .tabpage.dialog .right .panel.table{border-top:solid 1px #9cf;}

.vmodel.info .tabpage table tr td a{text-decoration:none;cursor:pointer;color:#38f;}
.vmodel.info .tabpage table tr td a{text-decoration:none;cursor:pointer;color:#38f;}

.vmodel.info .tabpage .vpage.page-edit .row{margin:1em 0;}
.vmodel.info .tabpage .vpage.page-edit .row .col{width:auto;}
.vmodel.info .tabpage .vpage.page-edit textarea{width:30em;height:8em;vertical-align:top;}
.vmodel.info .tabpage .vpage.page-edit label{vertical-align:top;}
.vmodel.info .tabpage .vpage.page-edit .bar-btn{margin-bottom:0;}

.vmodel.info  .border-top{border-top:solid 1px #bbb;}
.vmodel.info  .border-bottom{border-bottom:solid 1px #bbb;}
.vmodel.info  .padding-top{padding-top:1em;}
.vmodel.info  .padding-bottom{padding-bottom:1em;}

.vmodel.info .basic .col.col-hg input{width:20em;font-size:1em;padding:.1em 0;}
.vmodel.info .basic #AgentStatInfo-SpreaderID{display:none;}
.vmodel.info .basic #AgentStatInfo-SpreaderID.visible{display:inline-block;*display:inline;*zoom:1;border:solid 1px #ccc;width:8em;}
.vmodel.info .basic #txtSpreaderID{display:none;}
.vmodel.info .basic #txtSpreaderID.visible{display:inline-block;*display:inline;*zoom:1;border:solid 1px #ccc;width:8em;}
.vmodel.info .basic #AgentStatInfo-SpreaderID2{display:none;}
.vmodel.info .basic #AgentStatInfo-SpreaderID2.visible{display:inline-block;*display:inline;*zoom:1;border:solid 1px #ccc;width:8em;}
.vmodel.info .basic #txtSpreaderID2{display:none;}
.vmodel.info .basic #txtSpreaderID2.visible{display:inline-block;*display:inline;*zoom:1;border:solid 1px #ccc;width:8em;}

/******************************************
    今日返利
******************************************/
.vmodel.info .tabpage.dialog.spreadsum{width:75%;height:75%;top:0;left:0;right:0;bottom:0;margin:auto;background:#eee;}
.vmodel.info .tabpage.dialog.spreadsum .row{margin:.5em;}
.vmodel.info .tabpage.dialog.spreadsum .row{margin:.8em;}
.vmodel.info .tabpage.dialog.spreadsum .row .btn{margin-left:1em;}
.vmodel.info .tabpage.dialog.spreadsum .groupbox{display:inline-block;*display:inline;*zoom:1;width:30%;height:30em;background:#fff;margin-left:2%;overflow:hidden;}
@media screen and (max-height: 900px){
    .vmodel.info .tabpage.dialog.spreadsum .groupbox{height:20em;}
    .vmodel.info .tabpage.dialog.spreadsum .groupbox section{height:18em;color:#666;padding:.2em;overflow-y:auto;}
}
.vmodel.info .tabpage.dialog.spreadsum .groupbox h1{background:#f2f2f2;color:#666;padding:.2em;}
.vmodel.info .tabpage.dialog.spreadsum .groupbox section{height:28em;color:#666;padding:.2em;overflow-y:auto;}
.vmodel.info .tabpage.dialog.spreadsum span.text{display:inline-block;*display:inline;*zoom:1;width:6em;border:solid 1px #bbb;text-align:right;padding:.1em .2em;}
.vmodel.info .tabpage.dialog.spreadsum .groupbox table thead{background:#e7e7e7;}
.vmodel.info .tabpage.dialog.spreadsum .groupbox table thead th{font-size:1.2em;padding:.2em;border:solid 1px #ccc;}
.vmodel.info .tabpage.dialog.spreadsum .groupbox table tbody td{padding:.3em;border:dotted 1px #ccc;}

.vmodel.info .tabpage.dialog .tip{position:absolute;width:60%;height:20em;z-index:100;background:#f8f8f8;border:solid 1px #39e;}
.vmodel.info .tabpage.dialog .tip .tip-direct{position:relative;}
.vmodel.info .tabpage.dialog .tip .content{position:relative;overflow-y:auto;}
.vmodel.info .tabpage.dialog .tip .content p{margin:.5em;}
.vmodel.info .tabpage.dialog .tip .content .tip-close{position:absolute;width:1em;top:0;right:0;cursor:pointer;}

.vmodel.info .tabpage.dialog .report-tab.spreaderrelation table tr td{position:relative;}
.vmodel.info .tabpage.dialog .report-tab.spreaderrelation table tr td a{cursor:pointer;font-size:.8em;position:absolute;right:.6em;text-decoration:underline;}
