.lev-contextmenu ol{border-bottom:solid 1px #ccc;}
.lev-contextmenu,.lev-contextmenu * {list-style:none;}
.lev-contextmenu{display:none;position:absolute;background:#eee;width:9em;}
.lev-contextmenu.visible{display:block;}
.lev-contextmenu .item{width:100%;position:relative;}
.lev-contextmenu .item .title{position:relative;height:1.8em;line-height:1.8em;margin:.1em 0;padding-left:1em;cursor:pointer;}
.lev-contextmenu .item .title:hover{background:#8ce;}
.lev-contextmenu .item .title .iconfont{position:absolute;right:0;}
.lev-contextmenu .item.item-refresh{margin-top:.2em 0;padding-top:.2em;border-top:solid 1px #ddd;}
.lev-contextmenu .sub{display:none;position:absolute;left:9em;top:0;width:8em;background:#ccc;}
.lev-contextmenu .sub.visible{display:block;}
.lev-contextmenu .subitem{width:100%;position:relative;}
.lev-contextmenu .subitem .action{position:relative;height:1.8em;line-height:1.8em;margin:.1em 0;padding-left:1em;cursor:pointer;}
.lev-contextmenu .subitem .action:hover{background:#8ce;}
.lev-contextmenu .subitem .action .iconfont{position:absolute;font-size:1em;right:0;}

