.nav ul{list-style:none;}
.nav .nav-title{position:relative;width:100%;height:3em;line-height:3em;background:#f2f2f2;margin-bottom:.1em;border-bottom:solid 1px #ccc;}
.nav .nav-title h2{font-size:1.2em;color:#888;}
.nav .nav-title .iconfont{font-size:1.5em;position:absolute;right:2px;color:#888;text-align:center;}
.nav .nav-title .iconfont:hover{color:#8de;cursor:pointer;}
.menu{width:100%;font-size:12px;}
.menu a{width:100%;text-decoration:none;display:inline-block;*display:inline;*zoom:1;}
.menu .item{text-align:center;}
.menu .item .title{position:relative; height:2.5em;line-height:2.5em;background:#e2e2e2;border:solid 1px #ccc;cursor:pointer;}
.menu .item .iconfont.icon-daili{position:absolute;left:0;font-size:1.8em;font-weight:bold}
.menu .item .iconfont.icon-setting{position:absolute;left:0;font-size:1.8em;}
.menu .item .iconfont.icon-jiantou-down,
.menu .item .iconfont.icon-jiantou-right{position:absolute;right:.5em;font-size:1em;color:#888;}
.menu > .item:last-child{border-bottom:solid 1px #ccc;}

.submenu{background:#cef;vertical-align:top;overflow:hidden;}
.submenu .item{margin:.2em;height:2em;line-height:2em;}
.submenu .item:first-child{margin:.1em;}
.submenu .item:last-child a{border-bottom:none;}
.submenu .item a{width:10em;border-bottom:dotted 1px #bbb;padding-left:36px;text-align:left;}
.submenu .item a:hover{background:#6cf;color:#fff;border:0;text-align:left;font-size:14px;cursor:pointer;}
.submenu .item a:hover span{color:#fff;} 
.submenu .item a.active{background:#6bf;color:#fcc;border:0;font-size:14px;}
.submenu .item a.active span{color:#fdd;}
