*{margin:0;padding:0;font-family:"黑体";}
body,body *{font-size:12px;color:#333;}

.bigfont{font-size:16px;}
.midfont{font-size:14px;}
.smallfont{font-size:12px;}

.clearfix{content:"";display:block;height:0;visibility:hidden;clear:both;}

.header{position:absolute;top:0;width:100%;height:5em;line-height:5em;background:#6c6;background-image:url(/img/bg.png)}
.header h1{float:left;padding:.1em;font-size:2em;color:#eee;/*color:#ec6;*/}
.header h1 img{display:inline-block;*display:inline;*zoom:1;height:5em;width:5em;vertical-align:middle;}
.header h1 span{vertical-align:middle;font-size:1em;color:#fee;}
.header .navigator{float:right;width:20em;height:100%;line-height:1.2em;}
.header .navigator .login-info{position:absolute;bottom:1em;}
.header .navigator .login-info div.item{display:inline-block;*display:inline;*zoom:1;margin:0 1em;padding:.2em 0;vertical-align:middle;cursor:pointer;}
.header .navigator .login-info div.item:hover {background:#37c;}
.header .navigator .login-info div.item span{color:#eee;vertical-align:middle;}
.header .navigator .login-info div.item span.iconfont{color:#3c8;}
.header .navigator .login-info div.item a{color:#eee;vertical-align:middle;}
.header .navigator .login-info span+a{font-size:1.2em;}
.header .navigator .login-info a{text-decoration:none;}
.header .navigator .login-info span.icon-ren{font-size:2em;padding-top:.2em;}

.header .login-info-list{position:absolute;display:none;top:4em;right:6em;width:12em;height:4em;background:#eee;border:solid 1px #ccc;z-index:100; text-align:center;}
.header .login-info-list a{margin:1em;}

.login-info-pwd{position:absolute;display:none;width:30em;height:18em;left:50%;top:50%;margin-left:-15em;margin-top:-9em;background:#f2f2f2;border:solid 3px #6cf;}
.login-info-pwd .row{margin:2em;}
.login-info-pwd .row input{width:16em;}
.login-info-pwd .row .btn{padding:.1em .5em;margin:.5em;}
.login-info-pwd .row a.btn{padding:.2em .5em;margin:.5em;}
.login-info-pwd .box-header{background:#6cf;color:#fff;font-size:1.1em;}

.body{position:absolute;top:5em;bottom:2em;width:100%;overflow:hidden;}
.body .nav{position:absolute;width:12em;height:100%;border-right:solid 1px #9cf;border-top:solid 1px #9cf;overflow-x:hidden;background:#eee;}
.body .nav.toggle{margin-left:-10em;}
.body .viewpage{position:absolute;top:0;bottom:0;left:12em;right:0;}
.body .viewpage.toggle{left:2em;}
.body .viewpage ul{list-style:none;}
.body .viewpage .viewtab{height:100%;}
.body .viewpage .viewtab .tab-header li a:hover{}
.body .viewpage .viewtab .tab-content{position:absolute;top:2.5em;bottom:.2em;left:.5em;right:.5em;}
.body .viewpage .viewtab .tab-content .page{display:none;position:absolute;width:100%;height:100%;}
.body .viewpage .viewtab .tab-content .page.visible{display:block;}

.footer{position:absolute;bottom:0;width:100%;height:2em;line-height:2em;background:#38c;}

.footer .container-full{position:relative;}
.footer .msgbox{position:absolute;height:2em;left:0;right:42em;}
.footer .time{position:absolute;right:0;width:50em;height:2em;color:#fff;}
.footer .time span{margin-left:1em;color:#fff;}
.footer .time span.fg{color:#25f;font-size:1.1em;font-weight:bolder;}