<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBPlatformManager" value="Data Source=117.78.50.249,1436; Initial Catalog=QPPlatformManagerDB; User ID=qywl_game; Password=qywLgame890*()+++2; Pooling=true"/>
    <add key="DBNativeWeb" value="Data Source=117.78.50.249,1436; Initial Catalog=QPNativeWebDB; User ID=qywl_game; Password=qywLgame890*()+++2; Pooling=true"/>
    <add key="DBAccounts" value="Data Source=117.78.50.249,1436; Initial Catalog=QPAccountsDB; User ID=qywl_game; Password=qywLgame890*()+++2; Pooling=true"/>
    <add key="DBPlatform" value="Data Source=117.78.50.249,1436; Initial Catalog=QPPlatformDB; User ID=qywl_game; Password=qywLgame890*()+++2; Pooling=true"/>
    <add key="DBTreasure" value="Data Source=117.78.50.249,1436; Initial Catalog=QPTreasureDB; User ID=qywl_game; Password=qywLgame890*()+++2; Pooling=true"/>
    <add key="DBRecord" value="Data Source=117.78.50.249,1436; Initial Catalog=QPRecordDB; User ID=qywl_game; Password=qywLgame890*()+++2; Pooling=true"/>
    <add key="DBGameMatch" value="Data Source=117.78.50.249,1436; Initial Catalog=QPGameMatchDB; User ID=qywl_game; Password=qywLgame890*()+++2; Pooling=true"/>
  </appSettings>
</configuration>