<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="DBPlatformManager" value="Data Source=117.78.40.74; Initial Catalog=QPPlatformManagerDB; User ID=sa; Password=112233qwe; Pooling=true"/>
    <add key="DBNativeWeb" value="Data Source=117.78.40.74; Initial Catalog=QPNativeWebDB; User ID=sa; Password=112233qwe; Pooling=true"/>
    <add key="DBAccounts" value="Data Source=117.78.40.74; Initial Catalog=QPAccountsDB; User ID=sa; Password=112233qwe; Pooling=true"/>
    <add key="DBPlatform" value="Data Source=117.78.40.74; Initial Catalog=QPPlatformDB; User ID=sa; Password=112233qwe; Pooling=true"/>
    <add key="DBTreasure" value="Data Source=117.78.40.74; Initial Catalog=QPTreasureDB; User ID=sa; Password=112233qwe; Pooling=true"/>
    <add key="DBRecord" value="Data Source=117.78.40.74; Initial Catalog=QPRecordDB; User ID=sa; Password=112233qwe; Pooling=true"/>
    <add key="DBGameMatch" value="Data Source=117.78.40.74; Initial Catalog=QPGameMatchDB; User ID=sa; Password=112233qwe; Pooling=true"/>-->
    
    <add key="DBPlatformManager" value="Data Source=192.168.1.250; Initial Catalog=QPPlatformManagerDB; User ID=sa; Password=sanYanG123$%^coM; Pooling=true"/>
    <add key="DBNativeWeb" value="Data Source=192.168.1.250; Initial Catalog=QPNativeWebDB; User ID=sa; Password=sanYanG123$%^coM; Pooling=true"/>
    <add key="DBAccounts" value="Data Source=192.168.1.250; Initial Catalog=QPAccountsDB; User ID=sa; Password=sanYanG123$%^coM; Pooling=true"/>
    <add key="DBPlatform" value="Data Source=192.168.1.250; Initial Catalog=QPPlatformDB; User ID=sa; Password=sanYanG123$%^coM; Pooling=true"/>
    <add key="DBTreasure" value="Data Source=192.168.1.250; Initial Catalog=QPTreasureDB; User ID=sa; Password=sanYanG123$%^coM; Pooling=true"/>
    <add key="DBRecord" value="Data Source=192.168.1.250; Initial Catalog=QPRecordDB; User ID=sa; Password=sanYanG123$%^coM; Pooling=true"/>
    <add key="DBGameMatch" value="Data Source=192.168.1.250; Initial Catalog=QPGameMatchDB; User ID=sa; Password=sanYanG123$%^coM; Pooling=true"/>

    <!--<add key="DBPlatformManager" value="Data Source=117.78.46.33,1630; Initial Catalog=QPPlatformManagerDB; User ID=sql_game; Password=gameQywl%^&amp;567+++; Pooling=true" />
    <add key="DBNativeWeb" value="Data Source=117.78.46.33,1630; Initial Catalog=QPNativeWebDB; User ID=sql_game; Password=gameQywl%^&amp;567+++; Pooling=true" />
    <add key="DBAccounts" value="Data Source=117.78.46.33,1630; Initial Catalog=QPAccountsDB; User ID=sql_game; Password=gameQywl%^&amp;567+++; Pooling=true" />
    <add key="DBPlatform" value="Data Source=117.78.46.33,1630; Initial Catalog=QPPlatformDB; User ID=sql_game; Password=gameQywl%^&amp;567+++; Pooling=true" />
    <add key="DBTreasure" value="Data Source=117.78.46.33,1630; Initial Catalog=QPTreasureDB; User ID=sql_game; Password=gameQywl%^&amp;567+++; Pooling=true" />
    <add key="DBRecord" value="Data Source=117.78.46.33,1630; Initial Catalog=QPRecordDB; User ID=sql_game; Password=gameQywl%^&amp;567+++; Pooling=true" />
    <add key="DBGameMatch" value="Data Source=117.78.46.33,1630; Initial Catalog=QPGameMatchDB; User ID=sql_game; Password=gameQywl%^&amp;567+++; Pooling=true" />-->

    
      <!--<add key="DBPlatformManager" value="Data Source=117.78.50.249,1436; Initial Catalog=QPPlatformManagerDB; User ID=qywl_game; Password=qywLgame890*()+++2; Pooling=true"/>
    <add key="DBNativeWeb" value="Data Source=117.78.50.249,1436; Initial Catalog=QPNativeWebDB; User ID=qywl_game; Password=qywLgame890*()+++2; Pooling=true"/>
    <add key="DBAccounts" value="Data Source=117.78.50.249,1436; Initial Catalog=QPAccountsDB; User ID=qywl_game; Password=qywLgame890*()+++2; Pooling=true"/>
    <add key="DBPlatform" value="Data Source=117.78.50.249,1436; Initial Catalog=QPPlatformDB; User ID=qywl_game; Password=qywLgame890*()+++2; Pooling=true"/>
    <add key="DBTreasure" value="Data Source=117.78.50.249,1436; Initial Catalog=QPTreasureDB; User ID=qywl_game; Password=qywLgame890*()+++2; Pooling=true"/>
    <add key="DBRecord" value="Data Source=117.78.50.249,1436; Initial Catalog=QPRecordDB; User ID=qywl_game; Password=qywLgame890*()+++2; Pooling=true"/>
    <add key="DBGameMatch" value="Data Source=117.78.50.249,1436; Initial Catalog=QPGameMatchDB; User ID=qywl_game; Password=qywLgame890*()+++2; Pooling=true"/>-->


    <!--商户ID-->
    <add key="userid" value="100236"/>

    <!--API密钥-->
    <add key="userkey" value="9b32a379f574499f93a1a147e7a7cd47"/>

    <add key="gateway" value="http://game.7ucard.com/gateway/pay"/>

    <add key="callBackurl" value="http://localhost:55555/pay/Receive.aspx"/>

    <add key="hrefBackurl" value="http://localhost:55555/pay/Return.aspx"/>
    <add key="hrefBackurlClient" value="http://localhost:55555/pay/ClientReturn.aspx"/>

    <!--接口地址-->
    <!--<add key="APIURL" value="http://192.168.1.217:8320/Web"/>-->
    <!--<add key="APIURL" value="http://192.168.1.250:8320/Web"/>-->
    <add key="APIURL" value="http://192.168.1.111:8320/Web"/>



    <!--poleneer商户ID-->
    <add key="poleneer_shop_id" value="15217221119"/> 
    <!--poleneerAPI密钥-->
    <add key="poleneer_appkey" value="9ADD1615150A4A2F94E5AC4E369D3901"/>
    <add key="poleneer_gateway" value="http://pay.poleneer.com/gateway/shop_pay_create"/> 
    <add key="poleneer_CallBackurl" value="http://192.168.1.250:8057/poleneer/Receive.aspx"/>
    
    <!--poleneer商户IDtest-->
    <add key="poleneer_shop_id2" value="test"/> 
    <add key="poleneer_appkey2" value="1CE352D847444A6AA4F0062F437A4DF2"/>
    <add key="poleneer_CallBackurl2" value="http://192.168.1.250:8057/poleneer/Receive2.aspx"/>
    
  </appSettings>
  <!--IIS经典模式下使用-->
  <!--<system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <httpHandlers>
      <add verb="*" path="*" type="QPFront.Web.RouterHandler" />
    </httpHandlers>
  </system.web>-->
  <!--IIS集成模式下使用-->
  <system.webServer>
    <handlers>
      <add name="api" path="api" verb="*" type="QPFront.Web.RouterHandler"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>